<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="caja">
        <div class="sprite col-md-6 col-sm-6 col-xs-6" id="sprite-maria"></div>
        <address class="text-center">
        <h4><strong class="qsdm-color-red">María Cacho</strong></h4>
        <p><strong class="qsdm-color-blue">Experta RRHH, Formación y Empleabilidad</strong></p>
        <p>
          <a href="mailto:mcachomorgado@yahoo.es?subject=Hola%20María" target="_blank" title="Email María Cacho"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/mariacachomorgado/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </p>
        <p class="speech">
          <em>"Internet se ha convertido en la principal herramienta para buscar información dando a los jóvenes mayor acceso al mundo académico y laboral. Sin embargo, aún es complicado encontrar aplicaciones que nos ayuden a tomar una de las decisiones más importantes de nuestra vida: los estudios especializados ó a qué nos queremos dedicar. La web queserademi.com aspira a ser la herramienta digital que aporte a las futuras generaciones, orientadores, padres y profesores la información necesaria para afrontar esa decisión de un modo responsable y maduro."</em>
        </p>
      </address>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="caja">
        <div class="sprite col-md-6 col-sm-6 col-xs-6" id="sprite-mabel"></div>
        <address class="text-center">
        <h4><strong class="qsdm-color-red">Mabel Casares</strong></h4>
        <p><strong class="qsdm-color-blue">Coach laboral, psicóloga y formadora</strong></p>
        <p>
          <a href="mailto:mabelcasares@mccoaching.es?subject=Hola%20Mabel" target="_blank" title="Email Mabel Casares"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/mabelcasarescoach/ " target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </p>
        <p class="speech">
          <em>"Los cambios en el mundo laboral son evidentes, tanto en la aparición de profesiones nuevas como en la modificación de las trayectorias profesionales. Por otra parte, el uso de la tecnología, la posibilidad de acceder a la información de manera inmediata y la gran cantidad de información irrelevante, han convertido a queserademi en la herramienta definitiva con información completa, actual y contrastada que necesitas para mejorar tu futuro profesional."</em>
        </p>
      </address>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="caja">
        <div class="sprite col-md-6 col-sm-6 col-xs-6" id="sprite-nacho"></div>
        <address class="text-center">
        <h4><strong class="qsdm-color-red">Ignacio Santiago</strong></h4>
        <p><strong class="qsdm-color-blue">Consultor especializado en Marketing Online</strong></p>
        <p>
          <a href="mailto:ignaciosantiagop@gmail.com?subject=Hola%20Ignacio" target="_blank" title="Email Ignacio Santiago"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/ignaciosantiago" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </p>
        <p class="speech">
          <em>"El mercado laboral es tan amplio que nos ofrece miles de posibilidades de dirigir nuestra carrera profesional. Sin embargo, esto conlleva peligros a la hora de buscar información de manera inadecuada y finalmente elegir un camino profesional equivocado. Como experto en Internet, sé que el hecho de encontrar información de calidad sobre un tema tan importante es muy complicado y confuso. Por eso decidí unirme a queserademi.com con el objetivo de optimizar digitalmente este proyecto y así llegar a todos los usuarios."</em>
        </p>
      </address>
    </div>
  </div>
    <div class="col-md-6 col-sm-12">
      <div class="caja">
        <div class="sprite col-md-6 col-sm-6 col-xs-6" id="sprite-alfonso"></div>
        <address class="text-center">
        <h4><strong class="qsdm-color-red">Alfonso Rosagro</strong></h4>
        <p><strong class="qsdm-color-blue">Ingeniero de Telecomunicaciones</strong></p>
        <p>
          <a href="mailto:alfonso.rosagro@gmail.com?subject=Hola%20Alfonso" target="_blank" title="Email Alfonso Rosagro"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="http://www.linkedin.com/in/alfonsorosagro" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </p>
        <p class="speech">
          <em>"A veces nos pasamos días buscando información y comparando para comprar un móvil, una cámara... Sin embargo, para tomar una de las decisiones más importantes de nuestras vidas, como es el futuro profesional, no dedicamos tanto tiempo y lo decidimos sin saber donde nos metemos. A veces por pereza, pero a veces incluso porque no tenemos la posibilidad de encontrar esa información. Para mi, queserademi es algo que debe existir y por eso estamos poniendo todo nuestro esfuerzo para que eso ocurra."</em>
        </p>
      </address>
      </div>		  		
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="caja">
        <div class="sprite col-md-6 col-sm-6 col-xs-6" id="sprite-manu"></div>
        <address class="text-center">
        <h4><strong class="qsdm-color-red">Manuel del Pozo</strong></h4>
        <p><strong class="qsdm-color-blue">Frontend &amp; UX/UI Designer</strong></p>
        <p>
          <a href="mailto:mdp.webdeveloper@gmail.com?subject=Hola%20Manuel" target="_blank" title="Email Manuel del Pozo"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="http://www.linkedin.com/in/delpozodeveloper" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </p>
        <p class="speech">
          <em>"La implicación que tiene Internet en nuestras vidas es hoy en día más que evidente. Hace pocos años, solo podiamos obtener información sobre profesiones a través de familiares o conocidos. Ahora nosotros estamos trabajando en desarrollar una potente herramienta con la que podrás acceder fácilmente a esa informacián que tanto necesitabas. Ese es nuestro compromiso, que las futuras generaciones no vayan desorientadas en sus metas profesionales. Por eso, este proyecto es tan importante para nosotros."</em>
        </p>
      </address>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3 col-md-offset-1" >
    <p class="caja">
      <strong style="font-size: 1.2em">
      Somos un equipo multidisciplinar de jóvenes profesionales preocupados por la situación laboral en España y con motivación por dar una nueva perspectiva a la orientación laboral actual.
      </strong>
    </p>
    </div> 
    <div class="col-md-4 text-center">
    <h4><strong class="qsdm-color-red">nuestros colaboradores</strong></h4>
    <dl class="dl-horizontal">
      <dt>Elena Figueroa</dt>
      <dd>Psicóloga - Orientador Laboral</dd>
      <dt>Alberto Martínez</dt>
      <dd>Arquitecto de Sistemas</dd>
      <dt>Marcos Molina</dt>
      <dd>Desarrollador Web</dd>
      <dt>Ángel Fuentes</dt>
      <dd>Ingeniero Informático</dd>
    </dl>
    </div> 
    <div class="col-md-3">
    <address class="caja text-right">
      <strong class="qsdm-color-red" style="font-size: 1.2em">queserademi.com</strong>
      <br><br>
      <a href="http://maps.google.com/maps?q=1200 C/ César Cort Botí, 16 28055 MADRID" target="_blank">
      C/ César Cort Botí 16<br>
      28055 MADRID</a>
      <br><br>
      <abbr title="Phone">Tel:</abbr><a href="tel://0034699542967"> (+34) 699 54 29 67</a>
      <br><br>
      <a href="mailto:info@queserademi.com?subject=Comparador%20de%20profesiones&body=:%20http%3A%2F%2Fwww.queserademi.com" target="_blank">info@queserademi.com</a>
    </address>
    </div> 
</div>

<div class="col-xs-12 margen"></div>
