<div class="row">
  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center">
      <button type="button" data-toggle="dropup" aria-expanded="false" class="btn-footer" id="btn-footer-md" onclick="displayMenu(event)">
          <span class="caret flecha"></span>
      </button>
  </div>
  <div id="mobile-footer" class="hidden-lg hidden-md col-sm-12 col-xs-12">
      <div class="col-sm-3 col-xs-3">
          <a routerLink="">
              <img class="img-menu" alt="queserademi" src="https://queserademi.com/images/logo.svg" width='40px' height="40px">
          </a>
      </div>
      <div class="col-sm-6 col-xs-6 text-center">
          <ul class="share-buttons">
              <li><a href="https://www.facebook.com/queserademicom" target="_blank" title="queserademi Facebook" onclick="window.open('https://www.facebook.com/queserademicom'); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li><a href="https://www.linkedin.com/company/queserademi" target="_blank" title="queserademi LinkedIn" onclick="window.open('http://www.linkedin.com/company/queserademi'); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li><a href="mailto:?subject=Comparador%20de%20profesiones&body=:%20http%3A%2F%2Fwww.queserademi.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a></li>
          </ul>
      </div>
      <div class="col-sm-3 col-xs-3 text-right">
          <button type="button" data-toggle="dropup" aria-expanded="false" class="btn-footer-mobile" id="btn-footer-xs" onclick="displayMenu(event)">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
      </div>
  </div>
  <div class="col-md-2 col-md-offset-0 hidden-sm hidden-xs col-xs-6 col-xs-offset-3 text-center">
      <a routerLink="">
          <p class="qsdm-color-red btn-footer-index">
              <img class="image-container" alt="queserademi" src="https://queserademi.com/images/logo.svg" width='40px' height="40px">
              comparador
          </p>
      </a>
  </div>
  <div class="col-md-10 col-sm-12 col-xs-12 text-center">
      <div class="col-md-2 col-md-offset-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a href="https://queserademi.com/noticias/">canal de novedades</a>
          <span class="hidden-sm hidden-xs separador">|</span>
      </div>
          <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a routerLink="colabora" routerLinkActive="active">cómo colaborar</a>
      <span class="hidden-sm hidden-xs separador">|</span>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a href="https://queserademi.com/porquecolaborar.html">por qué colaborar</a>
          <span class="hidden-sm hidden-xs separador">|</span>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a routerLink="quienessomos" routerLinkActive="active">quiénes somos</a>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs social">
          <ul class="share-buttons">
          <li><a href="https://www.facebook.com/queserademicom" target="_blank" title="queserademi Facebook" onclick="window.open('https://www.facebook.com/queserademicom'); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/company/queserademi" target="_blank" title="queserademi LinkedIn" onclick="window.open('http://www.linkedin.com/company/queserademi'); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li><a href="mailto:?subject=Comparador%20de%20profesiones&body=:%20http%3A%2F%2Fwww.queserademi.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a></li>
        </ul>
      </div>
  </div>
  <div class="col-md-10 col-md-offset-2 col-sm-12 col-xs-12 terminos text-center">
      <div class="col-md-2 col-md-offset-4 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a href="https://queserademi.com/quenossugieres.html">qué nos sugieres</a>
          <span class="hidden-sm hidden-xs separador">|</span>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a rel="license" href="http://www.comunica-web.com/verarticulo-reglamento-general-proteccion-datos-que-es_929.php">privacidad de datos</a>
          <span class="hidden-sm hidden-xs separador">|</span>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">terminos de uso</a>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 hidden-xs mobile-menu">
          <small>&copy; 2017 queserademi.com</small>
      </div>
  </div>
  <div class="hidden-lg hidden-md col-xs-12 text-center">
      <div class="fb-like" 
          data-href="https://www.facebook.com/queserademicom/" 
          data-layout="box_count" 
          data-action="like" 
          data-size="large" 
          data-show-faces="false" 
          data-share="true">
      </div>
  </div>
</div>