:root {
	--qsdm-red: #d62e46;
	--qsdm-blue: #337ab7;
	--qsdm-purple: #9133b7;
    --qsdm-grey: #BBBBBB;
    font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/Roboto-Light-webfont.eot');
	src: url('assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	   url('assets/fonts/Roboto-Light-webfont.woff') format('woff'),
	   url('assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
	   url('assets/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	font-style: normal;
  	font-weight: normal;
}

:host ::ng-deep ::-webkit-scrollbar {
    width: 4px;
}

:host ::ng-deep ::-webkit-scrollbar-track {
    border-radius: 4px;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #337ab7;
}

html,body {
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
    overflow-y: inherit;
    overflow-x: hidden;
	font-family: 'Roboto', arial;
}

h1, h2, h3, h4, h5, h6 {
	margin-left: 5px;
	margin-right: 5px;
}

a:hover {
	text-decoration: none !important;
    font-weight: normal;
}

button, a {
    outline: none !important;
    user-select: none;
	-webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}



/*#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #FFF url(assets/images/preloader.gif) no-repeat center center;
}*/

:host ::ng-deep .qsdm-color-white {
	color: #ffffff !important;
}

:host ::ng-deep .qsdm-color-red {
	color: #d62e46 !important;
}

:host ::ng-deep .qsdm-color-blue {
	color: #337ab7 !important;
}

:host ::ng-deep .qsdm-color-blue-dark {
	color: #001F3F !important;
}

:host ::ng-deep .qsdm-bgcolor-white {
	background-color: #ffffff !important;
}

:host ::ng-deep .qsdm-bgcolor-red {
	background-color: #d62e46 !important;
}

:host ::ng-deep .qsdm-bgcolor-blue {
	background-color: #337ab7 !important;
}

:host ::ng-deep .qsdm-bgcolor-blue-dark {
	background-color: #001F3F !important;
}

.preloader {
	border-radius: 16px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #FFF url(assets/images/preloader.gif)  no-repeat center center;
}

#canal-novedades #noticiasContainer {
    height: 400px;
    overflow: scroll;
    margin-top: 10px; 
}

#canal-novedades h5 {
    color: #337ab7;
    font-weight: bolder;
}

#noticiasContainer .list-group .post-title {
    padding: 0;
    font-size: 1.2em;
}

#noticiasContainer .list-group .post-content {
    margin-top: 10px;
}

#noticiasContainer .list-group .post-content a {
    color: #000 !important;
}

.seo-header {
	color: transparent;
	height: 0;
}

.header h4 {
    font-size: 20px;
    line-height: 1.5;
    max-height: 60px;
}

.header h1 {
    font-size: 25px;
}



.contenido {
	color: #FFF;
}

#beta {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100px;
}

.lead {
	font-size: 5rem;
	color: #d62e46;
}

.sublead {
    color: #d62e46;
    font-size: 1.5em;
}

.img-responsive {
	display: inline-block;
	max-width: 100px;
	max-height: 100px;
}

.form-horizontal .form-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
}



:host ::ng-deep .extra-margin {
	height: 50px;
}

:host ::ng-deep .borde-separador {
	border-left: 1px dotted #337ab7;
}

.footer {
	margin-top: 30px;
}

#double-down i {
	cursor: pointer;
	font-size: 3em;
	color: #FFFFFF;
}

:host .caja {
	margin-bottom: 20px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #444;
	-webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .caja {
	margin-bottom: 20px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #444;
	-webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

a.tooltips {
  position: relative;
  display: inline;
}

a.tooltips span {
  position: absolute;
  z-index: 9999;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 0.7;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.btn-qsdm {
	width: 100%;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 1.2em;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: #d62e46;
}

#listaProfesiones h2 {
	font-size: 20px;
}

#listaProfesiones .descripcion {
	max-height: 150px;
}

#listaProfesiones .descripcion .excerpt, #listaProfesiones .descripcion .excerpt > div.show-excerpt {
	display: inline !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 500px) and (orientation:portrait) {
	html,body {
		background-color: rgba(255, 255, 255, 0.5);
		overflow-x:hidden;
		width:100%;
    	-webkit-box-sizing: border-box;
       	-moz-box-sizing: border-box;
        box-sizing: border-box;
	}

	.body, .body-index {
		margin: 0;
		margin-bottom: 20px;
	}

	.background-image {
		background-attachment: scroll;
		/*background-size: 100%;*/
	}

	#canal-novedades #noticiasContainer {
	    height: 400px;
	}

	#noticiasContainer .list-group .post-title {
    	font-size: 1em;
	}

	#canal-novedades h5 {
		color: #FFFFFF
	}

	#titulo {
		margin-bottom: 0;
	}

	.img-responsive {
		display: inline-block;
		max-width: 110px;
		max-height: 110px;
	}

	.img-menu {
		width: 45px;
    	margin-top: -10px;
	}

	.sublead {
		font-size:1.2em;
		color:#d62e46;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.contenido {
		margin-top: 0;
	}

	.btn-qsdm {
		margin-top: 0;
	}

    .borde-separador {
		border-left: none;
	}

	.sprite {
		background-position-x: -50px;
	}
}

@media only screen and (max-device-width: 768px) and (orientation:landscape) {
   html,body {
		overflow-x:hidden;
		width:100%;
    	-webkit-box-sizing: border-box;
       	-moz-box-sizing: border-box;
        box-sizing: border-box;
	}

	.background-image {
		background-attachment: scroll;
		height: 77%;
	}

	#canal-novedades #noticiasContainer {
	    height: 200px;
	}

	#noticiasContainer .list-group .post-title {
    	font-size: 1em;
	}

	#canal-novedades h5 {
		color: #FFFFFF
	}

	#titulo {
		margin: 0;
	}

	.img-responsive {
		display: inline-block;
		max-width: 80px;
		max-height: 80px;
	}

	.img-menu {
		width: 45px;
    	margin-top: -10px;
	}

	.sublead {
		font-size:1.2em;
		color: #d62e46;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.contenido {
		margin-top: 0;
	}

	

    .borde-separador {
		border-left: none;
	}
}
