<div class="control-video text-center">
    <a id="close-fullvid" href="#"><img class="icon" src="assets/images/cross.svg"/></a>
</div>
<div id="popUp" class="text-center" hidden>
    <div id="popUpBox" class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="cerrar-popup">
            <a href="#"><img class="icon" src="assets/images/cross.svg"/>
            </a>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h2>Te gustaría colaborar?</h2>
            <h3>Con tu ayuda podremos mejorar <span id="titulo"><strong>que</strong>sera<strong>de</strong>mi</span></h3>
            <br>
            <a href="colabora.php" class="btn btn-aviso" style="border-color: rgb(204, 0, 0); color: rgb(204, 0, 0);">Colabora!</a>
            <a href="porquecolaborar.html" class="btn btn-aviso" style="border-color: rgb(204, 0, 0); color: rgb(204, 0, 0);">Por qué colaborar?</a>
        </div>
    </div>
    <div id="popUpBg"></div>
</div>

<div class="container-full display-table">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg extra-margin"></div>
    <div class="row header">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
            <a href="https://queserademi.com">
                <img hidden id="beta" class="hidden-sm hidden-xs" alt="beta" src="assets/images/beta.png"/>
                <h1 id="titulo" class="lead">
                    <strong>que</strong>sera<strong>de</strong>mi
                </h1>
                <img class="img-responsive" alt="queserademi" src="assets/images/logo-blanco.svg"/>
            </a>
            <h3 class="contenido">descubre todo sobre las <strong>profesiones</strong> actuales y comparalas!</h3>
        </div>
    </div>
    <br>
    <div class="row body-index">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 controlador-ux-mobile">
            <div class="dropdown clearfix">
                <form id="formulario" class="form-index" role="form" method="post">
                    <div class="input-group ux-mobile-input-container" id="scrollable-dropdown-menu" style="width: 100%;">
                      <!-- <input 
                        name="profesion" 
                        id="buscador" 
                        class="typeahead principal center-block form-control input-lg"
                        [(ngModel)]="selectedValue"
                        [typeahead]="profesiones"
                        [typeaheadLatinize]="true"
                        [typeaheadScrollable]="true"
                        [typeaheadOptionsInScrollableView]="5"
                        typeaheadOptionField="name"
                        (typeaheadOnSelect)="onSelect($event)"
                        class="form-control"> -->
                        <app-qsdm-input-autofill></app-qsdm-input-autofill>   
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-xs-12 text-center" id="double-down">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="background-image display-table">
    <section class="col-md-4 col-md-offset-1 col-sm-5 col-xs-12 text-center" id="ver-video">
        <div class="col-md-12 text-center caja">
            <h3 class="qsdm-color-red">Orientación laboral online para estudiantes y trabajadores</h3>
            <h5><strong>queserademi.com</strong> es la herramienta digital que aporta a las futuras generaciones de trabajadores, orientadores laborales, padres de alumnos y profesores la información necesaria para afrontar la decisión de elegir una carrera profesional de un modo responsable y maduro.</h5>
        </div>
        <a class="btn btn-default btn-qsdm" role="button" href="#">VER VIDEO</a>
        <div class="embed-responsive-16by9" align="center" id="video">
            <video class="embed-responsive-item" controls>
                <source src="assets/video/videoQsdm.mp4" type="video/mp4">
                <source src="assets/video/videoQsdm.webm" type="video/webm">
                <source src="assets/video/videoQsdm.ogv" type="video/ogg"> Su navegador no soporta la etiqueta de vídeo.
            </video>
        </div>
        <!-- <div class="fb-like" 
            data-href="https://www.facebook.com/queserademicom/" 
            data-layout="box_count" 
            data-action="like" 
            data-size="large" 
            data-show-faces="false" 
            data-share="true">
        </div> -->
    </section>

    <section class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-12 text-center" id="canal-novedades">
        <div id="container_noticias" class="grafica"></div>
    </section>        
    <div class="col-xs-12 extra-margin"></div>
</div>
